body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: none;
  overflow: hidden;
  background-image: url('./assets/fondo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
:root {
  font-family: 'Roboto Mono', monospace;
}
  
 
 
